/* TABLESS LAYOUT */

.titlebar-buttonbox-container {
  position: absolute;
  display: block;
  right: 0;
  top: 1px;
  z-index: 1;
  height: 40px
}

#titlebar {
  z-index: 2;
}

.titlebar-buttonbox {
  height: 100%;
}

#navigator-toolbox {
  margin-top: -44px;
}

#PanelUI-button {
  margin-right: 178px;
}

#back-button, #forward-button {
  visibility: collapse;
}

#sidebar-header {
  font-size: 1em !important;
  background-color: #1C1B22;
  visibility: collapse;
}

#sidebar-close {
  visibility: collapse;
}

#sidebar-spacer {
  visibility: collapse;
}

#nav-bar > hbox > toolbarbutton,
#nav-bar > hbox > #stop-reload-button,
#nav-bar > hbox > toolbaritem[data-extensionid],
#urlbar-input-container #star-button-box,
#urlbar-input-container #identity-box,
#nav-bar #PanelUI-menu-button {
    filter: grayscale(100%);
}

/* TABBAR IN TITLEBAR COLORS */

#nav-bar {
  transition: background-color 0s !important;
}

#nav-bar:not(:-moz-window-inactive) {
  background-color: AccentColor !important;
}

#urlbar {
  background-color: var(--toolbar-field-focus-background-color);
  border-radius: var(--toolbarbutton-border-radius);
}

/* MOVE RELOAD / STOP INTO URL BAR */

/*
#stop-reload-button {
  margin-left: calc(0px - var(--urlbar-min-height) - 4px + var(--urlbar-container-padding)) !important;
  z-index: 3;
}

#stop-reload-button toolbarbutton {
  padding: 0 !important;
}

#stop-reload-button .toolbarbutton-icon {
  height: calc(var(--urlbar-min-height) - 2px - 2 * var(--urlbar-container-padding)) !important;
  width: calc(var(--urlbar-min-height) - 2px - 2 * var(--urlbar-container-padding)) !important;
  padding: var(--urlbar-icon-padding) !important;
  border-radius: var(--urlbar-icon-border-radius) !important;
}

#urlbar-input-container {
  padding-right: calc(var(--urlbar-min-height) - 1px - 2 * var(--urlbar-container-padding)) !important;
}

#urlbar[breakout-extend] #page-action-buttons {
  margin-right: 5px;
}

*/